@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family:
    BlinkMacSystemFont,
    -apple-system,
    Segoe UI,
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
}

.max-container {
  @apply sm:container mx-auto px-4 sm:px-0 md:px-16 lg:px-20;
}

.hero {
  background: linear-gradient(
      rgba(128, 0, 128, 0.329),
      rgba(128, 0, 128, 0.329)
    ),
    url("/images/hero-c.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: "center";
  height: 100vh;
}

.banner {
  background: linear-gradient(
      rgba(128, 0, 128, 0.863),
      rgba(128, 0, 128, 0.863)
    ),
    url("/images/b3.jpg");
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}

.dropdown-link {
  @apply flex p-2 hover:bg-purple-600 hover:text-white;
}

.modal-container {
  background: rgba(0, 0, 0, 0.589);
}
